body {
    background: linear-gradient(90deg, white, #AD8B73);
}

p {
    color: blue
}

.mobil {
    color: rgba(149, 32, 196, 0.5);
}

#avanza {
    color:brown;
}

.text {
    color: black;
    font-family:"Impact", Arial;
    font-style: italic;
    text-transform: uppercase;
    text-decoration:underline;
    text-shadow: -4px 4px 4px red;
    line-height: 50%;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: center;
}

.content {
    background-color:blanchedalmond;
    width: 200px;
    height: 300px;
    align-content: center;
    margin: 20px;
    border: 5px solid rgba(225, 21, 21, 0.8);
    border-radius: 10px;
}

.content:hover {
    background-color: pink;
    cursor: pointer;
}

.text::first-letter{
    font-size: 2em;
}