.register {
    height: 40px;
    width: 100px;
    background-color: teal;
    color: white;
    position: relative;
    left: 600px;
    /* bottom: 100px */
    z-index: 1;
}

.register:hover {
    cursor: pointer;
}

.promo {
    background-color: yellow;
    color: black;
    padding: 2px 10px;
    border: 1px solid green;
    border-radius: 10px;
    position: absolute;
    left: 70px;
    top: -5px;
    rotate: 45deg;
}

.kontak {
    height: 70px;
    width: 70px;
    background-color: rgb(3, 207, 37);
    color: black;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}

.navbar {
    height: 50px;
    width: 100%;
    background-color:lightgoldenrodyellow;
    position: fixed;
    text-align: center;
    align-content: center;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.navbar2 {
    height: 30px;
    width: 100%;
    background-color: orangered;
    color: white;
    text-align: center;
    align-content: center;
    position: sticky;
    top: 50px;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .navbar {
        background-color: pink;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .navbar {
        background-color:mediumpurple;
    }
}

