.navbar {
    height: 60px;
    width: 100%;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.navitem {
    display: flex;
    gap: 20px;
}

.navitem a{
    color: white;
}

.navitem a:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: translate(0, -2px);
}

.logo {
    height: 50px;
}